fastapi
uvicorn
python-dotenv
httpx
langchain
langchain-community
langchain-core
PyMuPDF
simsimd
sentence-transformers
numpy
mistralai
pydantic
pinecone 
pandas
numpy
httpx=0.25.2
huggingface-hub
